
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
}

p {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 35px;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
  position: relative;
}

div.section-title {
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100px;
  border: 1px solid black;
  position:  absolute;
  top: 0;
  right: 0;
}
.title1{
  background-color: #00FFFF;
}
.title2{
  background-color: #A52A2A;
}
.title3{
  background-color: #DEB887;
}

/********** desktop version **********/
@media (min-width: 992px) {
  .col-lg-4{
    position: relative;
    float: left;
    background-color: gray;
  
    border: 1px solid green;
    margin-left: 3%;
    width: 30%;
  }
}

/********** tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    position: relative;
    float: left;
    background-color: gray;
    margin-bottom: 30px;
  }
  .col-md-6{
    border: 1px solid green;
    margin-left: 5%;
    width: 45%;  
  }
  .col-md-12{
    border: 1px solid green;
    margin-left: 5%;
    width: 95%;
  }
}

/********** mobile version **********/
@media (max-width: 767px) {
 .col-sm-12{
  margin-bottom: 30px;
  position: relative;
  float: left;
  background-color: gray;
  border: 1px solid green;
  margin-left: 5%;
  width: 95%;
 }
}